[submodule "onnxruntime"]
	path = thirdparty/onnxruntime
	url = https://github.com/microsoft/onnxruntime.git
[submodule "yaml-cpp"]
	path = thirdparty/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
